<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SocketListenerPort" value="41950"/>
    <add key="ServerName" value=""/>
    <add key="MasseursServerName" value="24.8.191.235"/>
    <add key="MassageNearby" value="MassageNearbyTest"/>
  </appSettings>

  <connectionStrings>
    <add name="MassageNearbyTest" connectionString="Data Source=DIAMOND-LAPTOP,1433\SQLEXPRESS;Initial Catalog=MassageNearby;User ID=MikeSamuels;Password=diamond222" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>